.hero-unit
  
  - if current_user
    %div{:style => 'float:left'} Welcome #{current_user.name}(Twitter)
    %div{:style => 'float:right'}= link_to "Signout of Twitter", signout_path(:provider => 'twitter')
    %div{:style => 'clear:both'}
    %br
    - if current_user.angellist_oauth_token.present?
      %div{:style => 'float:left'} Welcome #{current_user.angellist_name}(AngelList)
      %div{:style => 'float:right'}= link_to "Signout of Angellist", signout_path(:provider => 'angellist')
      %div{:style => 'clear:both'}
      - if current_user.startup_id.nil?
        = link_to "Get your startup id", get_startup_path
      - else
        Your startup #{current_user.startup_domain} (#{current_user.startup_id})
        = link_to "Update your startup id", get_startup_path
        %h3 You are good now. Start tweeting with hashtag #ag. 
        %p The app would check every hour & update your startup status with your latest tweet containing #ag. Angellist allows only 10 updates per day & they override updates to show only one (latest) update for the day.

        %br
        = link_to "Check & publish my tweets to angelList now", fetch_n_publish_path
        %p Done setting up ? Just close the browser & go home. Signing out from angellist &/or twitter will destroy the tokens & the app would not publish on your stream anymore.
     
    - else
      = link_to "Authenticate with Angellist", "/auth/angellist"
    
  - else 
    %h1 
      Publish Twitter updates to AngelList
      %small 
        %br
        The app checks your tweets with hashtag #ag & publishes them to your startup status
    .alert The app is in development mode & errors are not being handled graciously.
    .row
      %div{:class => 'span4 offset2'}
        = link_to "Sign in with Twitter", "/auth/twitter", :class => 'btn btn-success btn-large'
