%h1 hashAG - alpha
%p{:style => 'color:red'} The app is in development mode & errors are not being handled graciously.
%hr
- if current_user
  %div{:style => 'float:left'} Welcome #{current_user.name}(Twitter)
  %div{:style => 'float:right'}= link_to "Signout", signout_path(:provider => 'twitter')
  %div{:style => 'clear:both'}
  %br
  - if current_user.angellist_oauth_token.present?
    %div{:style => 'float:left'} Welcome #{current_user.angellist_name}(AngelList)
    %div{:style => 'float:right'}= link_to "Signout of Angellist", signout_path(:provider => 'angellist')
    %div{:style => 'clear:both'}
    - if current_user.startup_id.nil?
      = link_to "Get your startup id", get_startup_path
    -else
      Your startup #{current_user.startup_domain} (#{current_user.startup_id})
      = link_to "Update your startup id", get_startup_path
      %h3 You are good now. Start tweeting with hashtag #ag & wait for 10 min for it to appear on your startup status
      %br
      %br
      = link_to "Check & publish my tweets to angelList now", fetch_n_publish_path
     
  - else
    = link_to "Authenticate with Angellist", "/auth/angellist"
    
- else
  %h2 The app hooks up your twitter account to your angel.co startup.
  %p It checks your tweets with hashtag #ag & publishes them to your startup status
  = link_to "Sign in with Twitter", "/auth/twitter"

%br
%br
%br
%br
%br
%br
%hr
Code @ https://github.com/pocha/hashag
%br
%br
Thanks to @utkarshkukreti for the first draft & couple of Ninjas for testing. Check conversation 
%a{:href => 'http://groups.google.com/group/ninjaclan/browse_thread/thread/549762aa22a89540'}here
