- if current_user
  %div{:style => 'float:left'} Welcome #{current_user.name}
  %div{:style => 'float:right'}= link_to "Signout", signout_path
  %div{:style => 'clear:both'}
  %br
  - if current_user.angellist_oauth_token.present?
    - if current_user.startup_id.nil?
      = link_to "Get your startup id", get_startup_path
    -else
      Your startup #{current_user.startup_domain} (#{current_user.startup_id})
      = link_to "Update your startup id", get_startup_path
      %br
      = link_to "Check & publish my tweets to angelList", fetch_n_publish_path

  - else
    = link_to "Authenticate with Angellist", "/auth/angellist"
    
- else
  = link_to "Sign in with Twitter", "/auth/twitter"

